/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-font-smoothing: antialiased;
}

/*applies default*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
}

.header-link:hover {
  color: #FF7875;
}

.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*welcome page*/

.welcome .header {
  background-color: #015249;
  color: white;
}

.welcome .main {
  background-color: #015249;
  color: white;
  justify-content: space-around;
}

.welcome-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.welcome-left img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

.welcome-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.enter-button {
  background-color: #FF7875;
  color: white;
  border-radius: 20px;
}

.enter-button:hover {
  background-color: white;
  color: #FF7875;
}

.welcome .footer {
  background-color: #015249;
  color: white;
}

/*main page*/

.home .header {
  background-color: #015249;
  color: white;
}

.home .main {
  display: flex;
  background-color: white;
  color: black;
  justify-content: space-around;
  flex-direction: column;
  width: 100vw;
  overflow: auto;
  min-height: 450px;
}

.main-lower {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
}

.enter-garden img, .enter-park img, .enter-beach img, .enter-winter img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.home .footer {
  background-color: #015249;
  color: white;
}

/*garden page*/

.garden .header {
  background-color: #015249;
  color: white;
  justify-content: space-around;
}

.timer-button {
  background-color: #FF7875;
  color: white;
  border-radius: 20px;
}

.timer-button:hover {
  background-color: white;
  color: #FF7875;
}

.garden .main {
  background-color: white;
  color: black;
  background-image: url("/images/boston-garden.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

#clock, #clock3, #clock5 {
  background-size: 100px 100px;
  background-color: black;
  color: white;
  font-size: 50px;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
}

.garden .footer {
  background-color: #015249;
  color: white;
  height: 0vh;
}

/*park page*/

.park .header {
  background-color: #015249;
  color: white;
  justify-content: space-around;
}

.park .main {
  background-color: white;
  color: black;
  background-image: url("/images/park-fall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.park .footer {
  background-color: #015249;
  color: white;
  height: 0vh;
}

/*beach page*/

.beach .header {
  background-color: #015249;
  color: white;
  justify-content: space-around;
}

.beach .main {
  background-color: white;
  color: black;
  background-image: url("/images/hudson-river.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.beach .footer {
  background-color: #015249;
  color: white;
  height: 0vh;
}

/*winter page*/

.winter .header {
  background-color: #015249;
  color: white;
  justify-content: space-around;
}

.winter .main {
  background-color: white;
  color: black;
  background-image: url("/images/winter-park.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.winter .footer {
  background-color: #015249;
  color: white;
  height: 0vh;
}

/*fonts*/

h1 {
  font-size: 35px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 800;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 500;
}

a {
  font-size: 14px;
  font-weight: 500;
}

a:link, a:visited {
  color: white;
  decoration: none;
  text-decoration: none;
}

a:hover {
  color: #FF7875;
}

.home-link {
  color: black;
}

.home-link:hover {
  color: #FF7875;
}

/*reactive design for medium screens*/
@media (max-width: 1100px) {

  .welcome-left img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .enter-garden img, .enter-park img, .enter-beach img, .enter-winter img {
    border-radius: 50%;
    width: 175px;
    height: 175px;
  }

}

/*reactive design for smaller screens*/
@media (max-width: 800px) {

  .welcome-left img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  .enter-garden img, .enter-park img, .enter-beach img, .enter-winter img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  .main-lower {
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }

}

