.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
}

.main {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
}
